.list-item{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(270px, 1fr);
    grid-auto-columns: minmax( 150px ,1fr);
    align-items: center;
    margin-bottom: 20px;
}

.list-item__coin{
    display: flex;
    align-items: center;
}

.list-item__coin-name a{
    color: inherit;
}

.list-item__img{
    margin-right: 15px;
}

.list-item__price{}