.list-item{
    display: grid;
    color: black;
    grid-auto-flow: column;
    grid-template-columns:1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #DDDD;
}

.list-item__coin{
    display: flex;
    align-items: center;
}

.list-item__coin-name a{
    color: black;
}

.list-item__img{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.list-item__price{}

.list-item__percent {
    color:red;
}

.list-item_active {
    color: green;
}

